# IDE and OS specific
.vscode/
.idea/
.DS_Store

# Firebase
/.env*
/functions/.env*
.firebaserc
firebase-debug.log
metadata.json

# Dependencies
/node_modules
/functions/node_modules

# Build output
/build
/dist
/functions/lib
